#main-square {
    aspect-ratio: 1/1;
    transition: 0.5s;
}

#main-square:hover {
    background-color: pink;
    transition: 0.5s;
}

.cell {
    aspect-ratio: 1 / 1;
    width: 8px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

/* .cell:hover {
    background-color: red;
    transition: 0.5s;
} */

.hovered-cell {
    background-color: red;
    transition: 0.5s;
}