#main-square {
    aspect-ratio: 1/1;
    transition: 0.5s;
    height: 80vh;
    background-color: #C30011;
}

main {
    min-height: 100vh;
}

.cell {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    transition: 0.1s;
}

.hovered-cell {
    color: rgba(0, 0, 0, 0);
    background-color: #FFCBD2;
    transition: 0.1s;
}

.hovered-cell-first {
    color: rgba(0, 0, 0, 0);
    background-color: #FF2D2C;
    transition: 0.1s;
}